!!! 5
html(ng-app='sovietcat', ng-controller='MainCtrl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title SovietCat Network
    limk(type='text/css', rel='stylesheet', href='//fonts.googleapis.com/css?family=Changa+One')
    link(type='text/css', rel='stylesheet', href='css/sovietcat.min.css')

  body
    header(class='navbar navbar-fixed-top navbar-inverse')
      div(class='navbar-inner')
        div(class='container')
          a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')

          a(class='brand', href='#/test') &starf; SovietCat Network
          nav(class='nav-collapse collapse')
            ul(class='nav')
              li
                a(href='#/test') Test

              li
                a(href='#/login') Sign in

    div(class='container', ng-view)
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
    script(type='text/javascript', src='js/sovietcat.min.js')