form(class='form-horizontal', ng-submit='submit()')
  div(class='control-group')
    label(class='control-label', for='email') Email
    div(class='controls')
      input(id='email', type='email', placeholder='Email', value='', ng-model='email')

  div(class='control-group')
    label(class='control-label', for='password') Password
    div(class='controls')
      input(id='password', type='password', placeholder='Password', value='', ng-model='password')

  div(class='control-group')
    div(class='controls')
      label(class='checkbox') input(type='checkbox') Remember me
      input(class='btn btn-primary btn-large', type='submit', value='Sign in')