h1 Hello Soviet!
ul
  li(ng-repeat='soviet in soviets | filter:sovietOmit') {{soviet}}

input(type='text', placeholder='Enter filter here', ng-model='sovietOmit')
form(ng-submit='addSoviet()')
  input(type='text', placeholder='Enter name here', ng-model='sovietText')
  input.btn(type='submit', value='Add')