h1 Hello Soviet!
ul
  li(ng-repeat='soviet in soviets | filter:sovietOmit') {{soviet}}

input(type='text', placeholder='Enter filter here', ng-model='sovietOmit')
form(ng-submit='addSoviet()')
  input(type='text', placeholder='Enter name here', ng-model='sovietText')
  input(type='submit', value='Add')

form(ng-submit='TestCtrl.addSoviet()')
  input(type='text', placeholder='Enter name here', ng-model='sovietText')
  input(type='submit', value='Add')

div(ng-controller='TestCtrl')
  ul
    li(ng-repeat='soviet in soviets | filter:sovietOmit') {{soviet}}

  input(type='text', placeholder='Enter filter here', ng-model='sovietOmit')
  form(ng-submit='addSoviet()')
    input(type='text', placeholder='Enter name here', ng-model='sovietText')
    input(type='submit', value='Add')